/* Icon */

.icon {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.icon img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: auto;
}

/* Header Title "Canine Crusaders" */
header {
    position: relative;
    margin-left: 120px;
    margin-top: 65px;
    border-bottom: 1px solid #000;
}

/* Aside Section */
aside {
    width: 20%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #ccc;
}

/* Main Section */
main {
    width: 100%;
    padding: 20px;
}

/* the search form as a whole on the aside section */
.search-form {
    text-align: center;
}

/* Labels in the search bar -- "Breed, Size, Age, Gender */
.category-title {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    display: block;
}

/* a class for each form category's div */
.form-category {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}


/* Centers the text within select elements and their options and adds a border around the select elements. */
/* Style for select elements within .form-category */
.form-category select {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center; /* Center the text within the select */
}

/* Style for options within select elements */
.form-category select option {
    text-align: center; /* Center the text within each option */
}

/* centers the breed placeholder */
#breed::placeholder {
    text-align: center;
}

/* style for inputs within the form-category */
.form-category input {
    border: 1px solid #ccc; 
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* css for the search button */
#search-button {
    background-color: #007BFF; 
    color: white; 
    font-weight: bold; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    cursor: pointer;
    width: 100%;
}


/* The CSS for the modal itself, ensuring it covers other content */
#modal {
    /* existing styles... */
    position: fixed; /* Position it relative to the viewport */
    z-index: 1000; /* High z-index so it is above other content */
    left: 50%; /* Positions the left edge of the modal in the middle of the screen */
    top: 50%; /* Positions the top edge of the modal in the middle of the screen */
    transform: translate(-50%, -50%); /* Shifts the modal back by half its width and height to center it */
    display: none; /* Start off hidden */
    /* More of your styling... */
  }
  
  /* When the modal is being displayed, it should override the hidden display */
  #modal[open] {
    display: block;
    overflow-y: auto /* Or whatever display mode you prefer */
  }
  
  
  .dog-card {
    cursor: pointer;
  }

