/* Variables */
:root {
  --font-family1: Bangers;
}

/* Reset and Defaults */
body {
  background-image: url("/assets/images/field-of-grass-1362858.jpg");
  background-size: contain;
}

/* Icon styles */
.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  margin-top: 25px;
}

.icon img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: auto;
}

/* Header styles */
header {
  position: relative;
  margin-top: 65px;
  border-bottom: 1px solid #000;  
}

#title1 {
  font-family: var(--font-family1);
  font-size: 35px;
  margin-left: 34%;
}

/* Main content styles */
main {
  width: 100%;
  padding: 20px;
}

/* Aside styles */
aside {
  width: 20%;
  height: fit-content;
  padding: 20px;
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid black;
}

select, 
input {
  border-radius: 10px;
}

/* Section Titles */
.h1 {
  text-align: center;
  font-size: 55px;
  font-family: Bangers;
  padding-bottom: 30px;
}

/* Form styles */
.search-form {
  text-align: center;
}

.category-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  display: block;
}

.form-category {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.form-category select,
.form-category input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align-last: center; /* for aligning the text in select to the center in some browsers */
}

/* The ::placeholder selector is used to select and style the placeholder text of an input field. */
#breed::placeholder {
  text-align: center;
}

/* Search button styles */
#search-button {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Modal styles */
#modal {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  height: 99%;
}

#modal[open] {
  display: block; /* Or whatever display mode you prefer */
  overflow-y: auto;
}

/* Card styles */
.dog-card {
  cursor: pointer;
}


.favorites-button {
  background-image: url('assets/images/star-regular.svg'); /* Replace with your image path */
  background-size: cover; /* Cover the entire area of the button */
  background-position: center; /* Center the background image */
  border: none; /* Remove the border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around the text */
  cursor: pointer; /* Mouse cursor changes to indicate a clickable item */
}